{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Project</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">

  <link rel="stylesheet" href="{% static 'main/assets/fonts/flat-icon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'main/assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>

<body>
  <div id="content-wrapper">



    <section class="service">
      <div class="container">
        <div class="page-section">
          <h2 class="page-section__title">رسم درخت</h2>
          <img class="page-section__title-style" src="{% static 'main/assets/images/title-style.png' %}" alt="">
          <p class="page-section__paragraph">یک عبارت نیمه پرانتز گذاری شده در کادر زیر وارد کنید</p>
          <p class="page-section__paragraph">برنامه از عملگر های ضرب،جمع،تقسیم،تفریق،نقیض و توان پشتیبانی میکند</p>
          <form style="    text-align: center;" method='post'>
            {% csrf_token %}
            <input type="text" name="search" id="search" placeholder="{{expression}}"
              style="margin-bottom: 6rem;text-align: center; margin-top: 10px ;    direction: ltr;">

            {% if htm %}
            <div class="row gutters-70" style="    margin: 0 1rem;">
              <div class="col-md-8 clickable-image"
                style="direction: ltr;background-color: rgb(255, 255, 255);overflow: auto;max-height: 38rem;">
                <figure>
                  <div style="    padding: 0 10rem;">
                    <p style="top: 109px;position: absolute;left: 29px;text-align: right;"> ارتفاع درخت : 75</p>
                    <p style="top: 149px;position: absolute;left: 29px;text-align: right;"> تعداد گره ها : 75</p>
                    <ul class="tree" style="pointer-events:none;    border-left: 2px solid black;">
                    
                    </ul>

                    </ul>
                  </div>
                </figure>
              </div>
              <div class="col-md-4 redtem" style="text-align: right;    float: right;">
                <h4> prefix : {{preorder}}</h4>

                <h4> postfix : {{postorder}}</h4>

                <h4> infix : {{inorder}}</h4>



              </div>

            </div>
            {% endif %}

          </form>


        </div>
      </div>
    </section>












    <section class="slider slider--bg">
      <div id="myCarousel" class="carousel container slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <div class="carousel-content">
              <div class="">
                <div class="text-center">
                  
                  <h4>Michael T. Hill</h4>
                  <h6>Designer</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="carousel-content">
              <div class="">
                <div class="text-center">
                 
                  <h4>Leonard D. Downing</h4>
                  <h6>Photographer</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="carousel-content">
              <div class="">
                <div class="text-center">
                  
                  <h4>Paula R. Mullins</h4>
                  <h6>Designer</h6>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer footer--bg">
     
      <div class="container text-center">
        
        <a href = "https://fediya.ir/" target="_blank" class="footer__paragraph">Copyright &copy; 2021 Mohammad hosein khamar -mohammad hosein fadavi , All Rights Reserved.</a>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.js" on integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script>        const image = document.querySelector(".clickable-image");
    var str_t = 0
    image.addEventListener("click", () => {
      if (str_t == 0) {
        image.classList.add("image-open");
        str_t = 1
      }
      else {
        image.classList.remove("image-open");
        str_t = 0
      }

    })
    var str='{{htm}}'.replaceAll('&lt;', "<").replaceAll('&gt;', ">");
    $(".tree").last().append(str); 
  </script>
  <script src="{% static 'main/assets/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'main/assets/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/mixitup.js' %}"></script>

</body>

</html>